# Node modules
node_modules/

# Builds do Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistemas operacionais
.DS_Store
Thumbs.db

# Diretórios do editor/IDE
.vscode/
.idea/

# Arquivos do sistema
*.swp
*.swo

# Test coverage
coverage/

# Dependências bloqueadas por lock
package-lock.json
yarn.lock
pnpm-lock.yaml
